@import url("https://fonts.googleapis.com/css?family=Comfortaa%7CPatua+One");
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}
.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.shop{
  border: solid black;
  flex-basis: 25%;
  border: 1px dotted crimson;
  padding: 0.3em;
  margin: 0em;
  text-align: left;
}
.pageHeader{
  text-align: center;
  margin: 2em;
}
